* {
    box-sizing: border-box;
    background-color: blue
  }

  #logo{
    float: none;
        margin: 0 auto;
        width: 900px;
}


#information{
    height: 600px;
    text-align: center;
    font-size: 200%;
    color: black;
}

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }