* {
    box-sizing: border-box;
    background-color: whitesmoke;
  
  }

  #logo{
    float: none;
        margin: 0 auto;
        width: 900px;
}

#menu{
  font-size: 200%;
  text-align: center;
  list-style: none;
}



#information{
    height: 600px;
    text-align: center;
    font-size: 200%;
    color: black;
}

