* {
    box-sizing: border-box;
    background-color: whitesmoke;
  
  }

  #logo{
    float: none;
        margin: 0 auto;
        width: 900px;
}

#menu{
  font-size: 200%;
  text-align: center;
  list-style: none;
}



#information{
    height: 600px;
    text-align: center;
    font-size: 200%;
    color: black;
}

/* Result style */



#message {
  font-size: 1.5em;
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
}

 /* Reset button */
.reset {
  display: inline-flex;
  flex: 1 100%;
  justify-content: center;
  margin-top: 20px;
}

.reset > span {
  font-size: 1.8em;
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px 15px;
  background-color: blue;
  box-shadow: 0 0 3px;
  color: #fff;
  transition: all 0.2s ease;
}





